implementation/log.txt
visualization/node_modules
visualization/.pnp
visualization/.pnp.js

# testing
visualization/coverage

# production
visualization/build

# misc
visualization/.DS_Store
visualization/.env.local
visualization/.env.development.local
visualization/.env.test.local
visualization/.env.production.local

visualization/npm-debug.log*
visualization/yarn-debug.log*
visualization/yarn-error.log*